<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h2 class="card-title mt-3 text-center" style="font-family: 'Lobster', cursive;">Registro</h2>
    <form (submit)="addUser()">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input name="email" class="form-control" style="font-family: 'Lobster', cursive;" [autofocus]="true" required [(ngModel)]="email" placeholder="Email" type="email">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input name="pass" class="form-control" style="font-family: 'Lobster', cursive;" required [(ngModel)]="pass" placeholder="Ingrese contraseña" type="password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" style="font-family: 'Lobster', cursive;"> Crear Cuenta</button>
      </div>
      <p class="text-center" style="font-family: 'Lobster', cursive;">Tiene una cuenta? <a href="/login">Ingrese Aquí.</a></p>
    </form>
    <!--<img src="assets/backlogo.png" height="504" width="896"/> -->
  </article>
</div>
