<div
  style="background-image: url('https://lh3.googleusercontent.com/Y1-tQlOrZdJNTm8WZT_0bjCUYPbPaCrMOXolR2ZJ1OmgPwyFmwEprosEsQo8FpRijHpp6naNwUlw9tJyWc67abezmRkJWiPrZGwW3cb3oPe0iLQfuNfXjxnGqujJyzuo40jgQ-xKCOzNZDRFscltSQd0G5EfS0D2YcvPybazGRhxiiOkD-ueWX-HZCf_1ziqki5my5y2pUBL3odf7BKMjm4HY_UrG8sb_9z5uI9_A4OnPt6InJkTHnpfV1LJfn8FZrSP_0EQ21bLizuEwZd0Hsn60cw2gMZhR1Om277jaM6TxjYeIx35NYsmPpqnUNhaCOxOT3rAAp9E6Ley0sUTTlSmcb5GHTAzyG6dIzRpe_emRGiit-Nfp3JQK4-gwqFCBrKZfC632S7Ww_XFA-gL4OIaUTuUz9GDo21poC5GcnXCcsvkA-NbLSkWKR1Qtph1J2YcwKVIHjeiQAw3rvCgWTLR5GZ_Y6F2tyZozf6t267fVDxaC7xREV08k958DjXdhX_ERhsyZmLDNLYazBXYZBGjhWgoSLvzk6-5QA8as0tXhCLusNeZ2QXvtBt_T_Dw=w1360-h635')">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <br/>
        <br/>
        <br/>
        <h1 class="text-center" style="color:#ffffff; font-family: 'Lobster', cursive;">Bienvenido!</h1>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>
