<body
  style="background-image: url('https://lh3.googleusercontent.com/kRji2OJLNRUVJPOGVCsyv_dCTbtPN8iSmChUwj-xRynoxNBXgeJexh0F_BCAoUqWq6rxZw2oar64AjRhHJpDSS8UkFQq-HPv9FUgk18in1zlwsl6n-2TkQIbW2AbqADJJ0-h7-4AQRArLTOBSnQB4NMZh4KeoVjOly9niJowFmgfZK6DdJuMx8OgSVqeLpD9zM2D8eLWVXb1wsE8x0gwTaBBYZRjh8AEmzC2blD43lf4qmkeyGGSffBOo8MKLvhLlbuwToLcYQB04i_cbvFj-oBzAmfu4n3iHcmqVVgbdy2kgVznm7T-8CceWqsv1PyxtLiiuhNXOY9m6M6B4aZtdOrXF4v6NXLzVCEeOLNF-8RAf33jjYUqghM0qkW12XJM73sWpbc6UqkFU-aKFGaaU1Y4rESn9XMoyZllKYljk6azwjnKpaUfBDrVRLeS-Gt8ghF0tXkk-eSnz4sjOD7ReeC0Sp546dIPT-xmQMKxsCO4gLLNMv16dibSliSVvWnz5Cj-HEeMGIKop1nbs4uBGK2C99z3XuY49vrUyM7tbTEA_yeBN2oDSuS_FUnnLbKx=w1366-h586')">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <br/>
      <br/>
      <br/>
      <h1 class="text-center" style="color:#ffffff;">Bienvenido!</h1>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</body>
