<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="form">
  <div class="thumbnail">
    <img height="150px"
         src="https://lh3.googleusercontent.com/jLnMOwTTKOnJwHsz67cDAm2yPKkmHgRMaqXa867AxZksXtYjvFaaT10T6Bq8erSmHCOwMaI7eUYGKo0eg-E1eOs-Sq1wte7Sk2_8yfuEqWtPCyD80CfxoyOEY-UVhHXSy02OTnApX3glETx0H0mEwYHcTs1EtLr7T0hw4JIFelpWHkHJiGFV1hUhYNuQU3ohoXl3GlWJcNsP2CE28KkMBpTFLdS9BGj45IzdXbk5trUEcFYy7--P-dBJbOzCfGmER_frkE8FGijUS0D7pBYSuLefClv-Jka62zvSzts261I66eJOjzleKVKWKB0uHM92IXvncsyWsjoA3_Oqi8lbFs1StqzlQjPUAW0fqAiP5opjIFGHZIU2UnhixdzK08vS7xmq40CWZGvlV4BO3a64k8i3SLEJvXTbIXyeDu3QmFTLXGfEV7kzVMvIsI5YkEbSYSHiA0JPNGL3OSEKSrI45CQ_cUMVbKxf5wLtwvV60j1LFCbcfZ2WoH0_NcgQkUDJ0KetDWARQPvUjSY4ea5e64VSUkamy8BMpp5VFwMl-vm06ikJ0rUt0YuXd8WqeS98=w1366-h586"/>
  </div>
  <form (submit)="loginUser()" class="login-form">
    <input type="text" [autofocus]="true" name="email" [(ngModel)]="email"  placeholder="Usuario"/>
    <input type="password" name="pass" [(ngModel)]="pass" placeholder="Constraseña"/>
    <button type="submit">Ingresar</button>
    <p class="message">No tiene cuenta? <a href="/sing-up">Registrese aquí.</a></p>
  </form>
  <br/>
  <p>
    <a style="color: white !important" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
    <a style="color: white !important" class="btn btn-block btn-google" (click)="googleLogin()"> <i class="fab fa-google-plus"></i>   Login via Google</a>
    <a style="color: white !important" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
  </p>
</div>
