<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">
    <img style="height: 40px"
         src="/assets/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" style=" font-family: 'Rancho', cursive; font-size: 19px">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login" style="font-family: 'Rancho', cursive; font-size: 19px" id="login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/sing-up" style="font-family: 'Rancho', cursive; font-size: 19px" href="#">Registrarse</a>
      </li>

    </ul>
    <span class="navbar-text p-lg-3" *ngIf="isLogin" style="font-family: 'Amatic SC', cursive; color: white">
      {{nameUser}}
    </span>
    <span class="navbar-text p-lg-2" *ngIf="isLogin" style="font-family: 'Amatic SC', cursive; color: white">
      <img src="{{photoUser}}" class="rounded-circle" height="40px">
    </span>
    <span class="navbar-text p-lg-1" *ngIf="!isLogin" style="font-family: 'Amatic SC', cursive; color: white">
      ~You are the owner of your future~
    </span>
    <span class="navbar-text" *ngIf="isLogin" style="font-family: 'Amatic SC', cursive; color: white">
      <a class="nav-link" style="background-color: #ff0940; color: white; border-radius: 15px 50px" (click)="logoutUser()" href="#">SALIR</a>
    </span>
  </div>
</nav>
